// Container widths
$container-width: 1550px;

// Colors
$primary-color:		#28292D;
$secondary-color:	#209DF4;
$tertiary-color:	#AF1CEF;
$white:				#ffffff;

// $secondary-color: #939498;
$grey-50: #F9F9F9;
$grey-200: #A1A8C1;
$purple-400: #6C6D97;
$purple-700: #2d2e4d;

// Fonts
$primary-font: 'Urbanist', sans-serif;

// Font Sizes
$font-size-xsmall:	0.8px;
$font-size-small:	0.875em;
$font-size-base:	1em;
$font-size-large:	1.2em;
$font-size-xlarge:	1.375em;

// Font Weights
$font-weight-r: 400;
$font-weight-m: 500;
$font-weight-sb: 600;
$font-weight-b: 700;

// Heading sizes
$font-size-h1: 3.125em;
$font-size-h2: 2.75em;
$font-size-h3: 1.875em;
$font-size-h4: 1.5em;
$font-size-h5: 1.5em;
$font-size-h6: 1.4em;

// Breakpoints
$max-xxl: 2560px;
$fhd: 1920px;
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$ipad: 1024px;
$md: 991px;
$sm: 767px;
$mb: 580px;
$mbs: 480px;
$ip: 420px;
$xs: 350px;