.list-section-wrapper {
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    padding-top: 80px;
    .heading-content {
        padding-bottom: 45px;
    }
}